*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    background-color: rgb(39,41,68);
    font-family: sans-serif;
    
}
#Over{
    font-family:cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 20vh;
    font-size: 20px
}
#info{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 20vh;
}
p{
    font-family:serif;
    font-size: 23px;
    color: white;
}
form{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
#btn{
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(45,117,96);
    border-radius: 20px;
}
button{
     width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(45,117,96);
    border-radius: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}
#gyl{
    height: 40%;
    width: 20%;
    position: absolute;
    top: 45vh;
    left: 10%
}
#asc{
    height: 40%;
    width: 20%;
    position: absolute;
    top: 45vh;
    right: 10%
}